@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body,html{
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

h4{
  font-weight: bold;
  font-size: 20px;

}

h1{
  font-weight: 800;
  font-size: 50px;
}

h2{
  font-weight: bold;
  font-size: 50px;
}

h3{
  font-weight: bold;
  font-size: 30px;

}

p{
  font-weight: bold;
  font-size: 30px;
  margin: 30px 0;
}

.hero-banner{
  background-color: #007FFF;
  height: 100vh;
  padding: 50px 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.hero-banner h1{
  color: white;
  margin: 14px 0 20px;
}

.hero-banner h3{
  color: white;
  margin: 0 0 35px;
}

.hero-banner h4,
.hero-banner h4 a{
  color: white;
  margin: 0;
}

.wrapper{
  width: 960px;
  margin: 0 auto;
}

a.cta , button.cta{
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: #007FFF;
  display: inline-block;
  box-shadow: 0 0 0 10px rgba(0, 125, 255, 0.15);
  border: 0;
  padding: 20px 30px;
  border-radius: 10px;
  text-decoration: none;
}

a.cta.alt , button.cta.alt{
  color: #111111;
  background-color: #FFD400;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.15);
}

.charecter1{
  width: 363px;
  height: 344px;
  position: absolute; top: 10%; right: 10%;
  background: url(../img/character1.png) no-repeat 0 0;
  background-size: 100%;
  transform: rotate(15deg) ;
}

.charecter2{
  width: 309px;
  height: 371px;
  position: absolute; top: 213px; right: 277px;
  background: url(../img/character2.png) no-repeat 0 0;
  background-size: 100%;
}

.charecter3{
  width: 297px;
  height: 286px;
  position: absolute; bottom: 74px; right: 109px;
  background: url(../img/character3.png) no-repeat 0 0;
  background-size: 100%;
}

nav{
  height: 100px;
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
}

nav .logo{
  background: url();
  display: block;
  width: 300px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 0px;
  margin-left: 30px;
  background: url(../img/logo@2x.png) no-repeat 0 0;
  background-size: 100%;
  overflow: hidden;
  text-indent: -995px;
}

nav ul{
  margin: 0 20px 0 0;
  padding: 0;

}

nav ul li{
  margin: 0;
  padding: 0;
  display: block;
  float: right;
}

nav ul li a{
  display: block;
  height: 100%;
  box-sizing: border-box;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #111111;
  text-decoration:none ;
  padding: 35px 10px;
  line-height: 30px;
}

.more-info{
  text-align: center;
}

.more-info p{
  margin: 18px 0 35px;
}

.more-info h2{
  margin: 50px 0 0;
}

.highlight{
  background-color: #ffadf9;
  color: #ff3300;
  padding: 5px 10px;
  line-height: 50px;
  display: inline;
  font-weight: 800;
}


